[submodule "src/drivers/navio_drivers/Navio2"]
	path = src/drivers/navio_drivers/Navio2
	url = https://github.com/emlid/Navio2.git
[submodule "src/lib/HEAR_ROS"]
	path = src/lib/HEAR_ROS
	url = https://github.com/AhmedHumais/HEAR_ROS.git
[submodule "src/lib/USV_Arch"]
	path = src/lib/USV_Arch
	url = https://github.com/AhmedHumais/USV_Arch.git
